<nav>
    <ul>
        <li><a href="/user">All Users</a></li>
        <li><a href="/home">Home</a></li> <!-- Example for adding Home link -->
        <!-- You can add more links here if needed -->
    </ul>
</nav>